version: '3.4'

x-include:
  commanderserver: &commanderserver
    image: "kin3303/commanderserver:${TAG}"
    restart: always
    volumes:
      - ${PWD}/data/plugins:/opt/electriccloud/electriccommander/plugins
      - ${PWD}/data/workspace:/opt/electriccloud/electriccommander/workspace
      - ${PWD}/data/logs/server:/opt/electriccloud/electriccommander/logs
      - ${PWD}/data/license:/tmp/license
      - ${PWD}/scripts:/tmp/scripts
    ports:
      - 8000
    environment:
      WAIT_HOSTS: db:3306
      WAIT_HOSTS_TIMEOUT: 180
 
  commanderapache: &commanderapache
    image: "kin3303/commanderapache:${TAG}"
    restart: always
    volumes:
      - ${PWD}/data/plugins:/opt/electriccloud/electriccommander/plugins
      - ${PWD}/data/workspace:/opt/electriccloud/electriccommander/workspace

  commanderagent: &commanderagent
    image: "kin3303/commanderagent:${TAG}"
    restart: always
    volumes:
      - ${PWD}/data/plugins:/opt/electriccloud/electriccommander/plugins
      - ${PWD}/data/workspace:/opt/electriccloud/electriccommander/workspace
      - ${PWD}/data/logs/agent:/opt/electriccloud/electriccommander/logs

  commanderrepository: &commanderrepository
    image: "kin3303/commanderrepository:${TAG}"
    restart: always
    volumes:
      - ${PWD}/data/plugins:/opt/electriccloud/electriccommander/plugins
      - ${PWD}/data/workspace:/opt/electriccloud/electriccommander/workspace
      - ${PWD}/data/repository-data:/opt/electriccloud/electriccommander/repository-data

  commanderinsight: &commanderinsight
    image: "kin3303/commanderinsight:${TAG}"
    restart: always
    volumes:
      - ${PWD}/scripts:/tmp/scripts
      - ${PWD}/data/insight-data:/usr/share/elasticsearch/backup

services:     
  db:
    image: mysql:5.6
    restart: always
    volumes: 
      - ${PWD}/data/mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf
      - ${PWD}/data/mysql/scripts:/docker-entrypoint-initdb.d
      - ${PWD}/scripts:/tmp/scripts
      - ${PWD}/data/mysql/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ecdb
      MYSQL_DATABASE: ecdb
      MYSQL_USER: ecdb
      MYSQL_PASSWORD: ecdb
    hostname: db
    container_name: db
        
  flow:
    << : *commanderserver
    links:
      - db
      - insight
#     - sql-server-db
    depends_on:
      - db
    ports:
      - 8000:8000
      - 1936:1936
      - 8443:8443
      - 61613:61613
    hostname: flow
    container_name: flow
    
  web:
    <<: *commanderapache
    depends_on:
      - flow
    ports:
      - 80:80
      - 443:443
    hostname: web
    container_name: web
    
  localagent:
    <<: *commanderagent
    depends_on:
      - flow
    hostname: localagent
    container_name: localagent

  repository:
    <<: *commanderrepository
    depends_on:
      - flow    
    hostname: repository
    container_name: repository
    
  insight:
    <<: *commanderinsight
    hostname: insight
    container_name: insight 

  portainer:
    image: portainer/portainer:latest
    command: -H unix:///var/run/docker.sock
    ports:
      - 9009:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

###################################################################################################################
#  For MsSQL Connection Test  
#   - Need to add connector to '/opt/electriccloud/electriccommander/server/lib' folder of flow container inside.
#   - Need to add volume named sql-volume
#   - Need to link with flow service
###################################################################################################################
#  sql-server-db:
#    container_name: sql-server-db
#    image: microsoft/mssql-server-linux:2017-latest
#    ports:
#      - 1433:1433
#    environment:
#      - SA_PASSWORD=yourStrong(!)Password
#      - ACCEPT_EULA=Y
#    volumes:
#      - sql-volume:/var/opt/mssql

###################################################################################################################
# For Demo Project
###################################################################################################################
#  devagent:
#    image: kin3303/demoagentdev
#    ports:
#      - 8060:8080
#      - 9960:9990
#    volumes:
#      - ${PWD}/data/plugins:/opt/electriccloud/electriccommander/plugins
#      - ${PWD}/data/workspace:/opt/electriccloud/electriccommander/workspace
#    hostname: devagent
#    container_name: devagent
#    
#  qaagent:
#    image: kin3303/demoagentdev
#    ports:
#      - 8070:8080
#      - 9970:9990
#    volumes:
#      - ${PWD}/data/plugins:/opt/electriccloud/electriccommander/plugins
#      - ${PWD}/data/workspace:/opt/electriccloud/electriccommander/workspace
#    hostname: qaagent
#    container_name: qaagent
#    
#  prodagent:
#    image: kin3303/demoagentdev
#    ports:
#      - 8080:8080
#      - 9980:9990
#    volumes:
#      - ${PWD}/data/plugins:/opt/electriccloud/electriccommander/plugins
#      - ${PWD}/data/workspace:/opt/electriccloud/electriccommander/workspace
#    hostname: prodagent
#    container_name: prodagent


#volumes: 
#  sql-volume:
